body {
    background-image: url('../images/background.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

#loginDiv {
    background-color: #ffffff;
    opacity: 0.85;
    height: 100vh;
    display: flex;
    align-items: center;
}

#loginFormDiv {

}

.noMargin {
    margin: auto;
}

.mainColor {
    background-color: darkred;
    color: dimgrey;
}

.fullWidthAnimation {
    opacity: 1 !important;
    width: 100vw !important;
    transition: opacity, width 0.75s ease-in-out;
}

.hideForm {
    opacity: 0 !important;
    transition: opacity 0.75s ease-in-out;
}